{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ar" class="h-100" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>'1-vertical'</title>
    <script defer src="{% static 'js/463.aa4a8651.js' %}"></script>
    <script defer src="{% static 'js/app.c5c2f00c.js' %}"></script>
    <link href="{% static 'css/463.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>

  <body class="d-flex flex-column h-100 bg-light">
    {% include 'parts/header.html' %}

    <main>
      {% block content %}
      {% endblock %}
    </main>
    {% include 'parts/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
